Flask==1.0.2
mysql-connector-python-rf==2.2.2
enum34==1.1.6
jimit==0.63
requests==2.20.0
PyJWT==1.6.4
Flask-Session==0.3.1
IPy==0.83
gunicorn==19.9.0
gevent==1.3.6
redis==2.10.6
websockify==0.8.0
Werkzeug==0.14.1
flask-themes2==0.1.4
