{% extends theme("layout.html") %}
{% block head %}
    {{ super() }}

    <style type="text/css">

        label>span {
            color: deepskyblue;
        }

        .btn,
        .form-group>div>div,
        .form-control {
            border-radius: 0;
        }

        html,body {
            height: 100%;
        }
        .page-box {
            min-height: 200px;
        }

        .page-box .server-message {
            padding: 35px 0;
        }
        body {
            overflow: hidden;
        }
    </style>
{% endblock head %}
{% block body %}
<script type="text/javascript" src="{{ theme_static('widgets/wow/wow.js') }}"></script>
<script type="text/javascript">
    /* WOW animations */

    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>
<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-6 center-margin">
            <div class="server-message wow bounceInDown">
                <h1>Error 500</h1>
                <h2>The server encountered a syntax error and could not complete your request.</h2>
                <p>Try again in a few minutes or contact the website administrator.</p>
            </div>
        </div>

    </div>
</div>
{% endblock body %}
