{% extends theme("layout.html") %}
{% block head %}
    {{ super() }}
<style type="text/css">
    .alert,
    .panel {
        border-radius: 0;
    }
</style>
{% endblock head %}
{% block body %}
<script type="text/javascript">
     $(document).ready(function() {
         setTimeout(function () {
             window.location.href="{{ go_back_url }}";
         }, "{{ timeout }}");
     });
</script>

<div id="page-title">
</div>

<div class="row" style="margin-top: 100px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero" style="font-size: 24px;">{{ title }}</h3>
                <div class="example-box-wrapper">
                    <div class="alert alert-success" style="padding: 30px;">
                        <div class="bg-green alert-icon">
                            <i class="glyph-icon icon-check"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title" style="font-size: 16px;">{{ message_title }}</h4>
                            <p>{{ message }} 也可以<a href="{{ go_back_url }}" title="点击这里">点击这里</a>进行直接跳转。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock body %}
